.ant-layout-content {
  box-sizing: border-box;
  padding: 13px;
  overflow-x: hidden;
  background-color: var(--a-layout-content-bg-color);
}
.custom-layout-footer {
  padding: 14px 0;
  background-color: var(--a-layout-footer-bg-color);
}
