.tabs-box {
  background-color: var(--a-main-content-bg-color);
  .tabs-menu {
    position: relative;
    width: 100%;
    border-bottom: 0 solid var(--a-header-border-color);
    .custom-ant-dropdown {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      .more-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          /* background-color: var(--a-layout-content-bg-color); */
        }
        .iconfont {
          font-size: 12.5px;
        }
      }
    }
    :deep(.ant-tabs) {
      .ant-tabs-nav {
        box-sizing: border-box;
        height: 31px;
        padding: 0 10px;
        margin: 13px 0 0;
      }
    }
  }
}
