.ant-layout {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  :deep(.ant-layout-sider-dark) {
    flex: 0 0 221px !important;
    width: 221px !important;
    min-width: 221px !important;
    max-width: 221px !important;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 var(--a-menu-border-color);
    .ant-menu {
      width: 100%;
      overflow-x: hidden;
      background-color: var(--a-main-content-bg-color);
      border-right: none;
    }
    .logo {
      box-sizing: border-box;
      height: 55px;
      .logo-img {
        justify-content: center;
        width: 28px;
        object-fit: contain;
      }
      .logo-text {
        justify-content: center;
        margin-left: 6px;
        font-size: 21.5px;
        font-weight: bold;
        color: var(--a-aside-logo-text-color);
        white-space: nowrap;
      }
    }
  }
  .ant-layout-header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    padding: 0 15px;
    background-color: var(--a-header-bg-color);
    border-bottom: 1px solid var(--a-header-border-color);
    box-shadow: 0 0 10px 0 var(--a-menu-border-color);
  }
}
